[user]
	name = Nozomi Oshima
	email = nozomi.oshima@gmail.com
[core]
	editor = vim
	pager = lv -c
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol
[alias]
	a = add -A
	b = branch
	c = commit
	co = checkout
	d = diff
	dc = diff --cached
	l  = log --oneline --graph --pretty='%C(auto)%h%d %C(white)%an%Creset %s%Creset'
	la = log --oneline --graph --pretty='%C(auto)%h%d %C(white)%an%Creset %s%Creset' --all
	ll = !git --no-pager log --oneline -3
	nb = checkout -b
	r = remote -v
	s = status -sb
	sl = !git --no-pager shortlog -sne
[push]
	default = matching
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[ghq]
	root = ~/Workspace/src
